extends ../layout
block content
	.container
		form.form-addmodule
			h2.form-addmodule-heading Please input module details
			input.input-block-level(id = "modName", type="text", name="Module_Name", placeholder="Module_Name")
			input.input-block-level(id = "modId", type="text", name="Module_Id", placeholder="Module_Id")
			input.input-block-level(id = "modDesc", type="text", name="Description", placeholder="Description")
			button.btn.btn-large.btn-primary Submit
			script(type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
			script(type="text/javascript").
				$(document).ready(function() {
					$('form').submit(function() {
						event.preventDefault();
						const name = document.getElementById('modName').value;
						const id = document.getElementById('modID').value;
						const desc = document.getElementById('modDesc');
						
