extends ../layout
block content
  .container
    form.form-signin
      h2.form-signin-heading Please sign in
      input.input-block-level(id = "user", type="text", name="username", placeholder="Email address")
      input.input-block-level(id = "pass", type="password", name="password", placeholder="Password")
      label.checkbox.
        <input type="checkbox" value="remember-me" /> Remember me
      button.btn.btn-large.btn-primary Sign in
      script(type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script(type="text/javascript").
        $(document).ready(function() {
          $('form').submit(function() {
            event.preventDefault();
            const use = document.getElementById("user").value;
            const pass = document.getElementById("pass").value;
            var pay = {"user": use};
            pay = JSON.stringify(pay);
            console.log(pay);
            var async = true;
            let salt = $.ajax( {
              type: 'POST',
              url: "api/login/salt",
              data: pay,
              response: function(e){
                console.log(e);
              },
              error: function() {
                console.log("Help");
              },
              success: function(){
                console.log("Done");
                dataType: "json"
              }
            });
            return false;
          });
        });
