§extends ../layout

block content
  .container
    form.form-signin(action="/login", method="post")
      h2.form-signin-heading Please sign in
      input.input-block-level(type="text", name="username", placeholder="Email address")
      input.input-block-level(type="password", name="password", placeholder="Password")
      label.checkbox.
        <input type="checkbox" value="remember-me" /> Remember me
      button.btn.btn-large.btn-primary(onclick=getsalt(name)) Sign in
      script(type="text/javascript")
        function getsalt(u){
          var pay = {
            user: u
          }
          var dat = JSON.Stringify(pay.SerialiseArray())
          var async = true
          var options {
            host: '164.132.195.20:3000',
            path: '/api/login/salt',
            method: 'POST'
          }
          $.post(
              options, pay, function(data){
              var salt = data
              checkuser(u, password, salt)
            }
          )
        }
        function checkuser(u, p, s){
          var payload
        }
