include /../../public/jsext/hascode.js

extends ../layout
block content
  .container
    form.form-register(action="/register", method="post")
    h2.form-signin-heading Enter new user details
      div(data-role = "fieldcontain")
        label(for='email') email
          input.input-block-level(id = "user", type="text", name="username", placeholder="Email address")
      div(data-role = "fieldcontain")
        label(for='password') password
          input.input-block-level(id = "pass", type="password", name="password", placeholder="Password")
      div(data-role = "fieldcontain")
        label(for='confirmpassword') confirmpassword
          input.input-block-level(id = "confirmPass", type="password", name="password", placeholder="Password")
      div(data-role = "fieldcontain")
        label(for='firstname') firstname 
          input.input-block-level(id = "firstname", type="text" name="firstname", placeholder="First Name")
      div(data-role = "fieldcontain")
        label(for='title') title
          select
            option Mr
            option Mrs
            option Ms
            option Miss
            option Dr
      button.btn.btn-large.btn-primary(onclick="getsalt()") Register
      script(type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script(type="text/javascript").
        function getsalt() {
          const use = document.getElementById("user").value;
          const pass = document.getElementById("pass").value;
          const confirmPass = document.getElementById("confirmPass").value
          const firstName = document.getElementById("firstname").value;
          const lastName = document.getElementById("surname").value;
          const userTitle = document.getElementById("title").value;
          var pay = { user: use };
          var dat = JSON.Stringify(pay.SerialiseArray());
          var async = true;
          let salt = $.ajax({
            type: "POST", 
            url: "164.132.195.20:3000",
            path: "api/register/salt",
            data: dat,
            error: function() {
              console.log("help");
            }
            success: function() {
              console.log("yay");
            }
          };
          verifyPassword(pass, confirmPass)
          addData(use, pass, firstName, lastName, userTitle, salt)
        };
        function addData(email, password, name, surname, title, salt) {
          console.log(salt)
          var newUser = {
            "user": email,
            "hashed_password": hashedPass,
            "firstname": firstName,
            "surname": lastName,
            "title", title
          };
          var dat = JSON.Stringify(newUser.SerialiseArray());
          let registerUser = $.ajax({
            type: "POST",
            url: "164.132.195.20:3000",
            path: "api/register/user",
            data: dat,
            error: function() {
              console.log("help");
            }
            success: function() {
              console.log("yay");
            }
          })
        };
        function verifyPassword(pass1, pass2) {
          if(pass1 =! pass2) {
            throw new TypeError("passwords do not match")
          }
        }
