extends ../layout
block content
	#container
		form.form-userAdmin
			button.btn.btn-large.btn-primary(id='viewUsers') View Users
			script(type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
			script(type="text/javascript").
				$(document).ready(function() {
					const div = document.getElementById('container')
					const par = document.createElement('P')
					const p = div.appendChild(par)
					$('#viewUsers').click(function() {
						event.preventDefault()
						par.innerHTML = ''
						console.log('hey')
						$.ajax({
							url: '/viewUsers',
							type: 'GET',
							success: function(users){
								for (const i in users) {
								p.appendChild(document.createTextNode(users[i].username))
								p.appendChild(document.createElement('br'))
								}
								var deleteButton = p.appendChild(document.createElement('button'))
								deleteButton.id = 'del'
								deleteButton.appendChild(document.createTextNode('Delete User'))
								document.body.appendChild(p)


								document.getElementById('del').onclick = function() {
									var toDelete = prompt('Which user would you like to delete?')
										deleteUser(toDelete)
								}
								
									function deleteUser(username) {
										$.ajax({
											type: 'DELETE',
											url: '/delUser',
											data: JSON.stringify({
												'user': username
											}),
											error: function(err) {
												console.log(err)
											},
											success: function(result) {
												console.log(result)
											}
										})
									}
								}
							})
						})
					})

