doctype html
html
  title= title
    link(rel="stylesheet" type="text/css" href="./style.css")
  body
    table(align='right')
      tr
        th Module Code
        th Module Title
        th Module Tutor
        th Coursework No.
        th Coursework Title
        th Issue Date
        th Assessment Type
        th % of module mark
        th(colspan='2')
      tr
        td
        td
        td
        td
        td
        td
        td
        td
        td
          a(href='http://www.google.co.uk') Generate Coversheet
        td
          a(href='www.google.co.uk') Submit Coursework
    .class
      button(type='submit')
        b Home
      button(type='submit')
        b My Modules
      button(type='submit')
        b My Assignments
      button(type='submit')
        b My Submissions

    button2(type='submit') Log Out
