header{
  width: 100%;
  padding-left: 10px;
	background-color: #0FFFFF;
	/*clear: left;*/
}
.primary_header {
	width: 100%;
	background-color: #52bad5;
	border-bottom: 2px solid #2C9AB7;
}
.secondary_header {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #B3B3B3;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 100%;
}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
  margin-bottom: 10px;
	font-family: verdana;
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 17%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}
body {
    background: url(http://www.planwallpaper.com/static/images/744081-background-wallpaper.jpg);
    text-align: left;
    font-family: verdana;
}

h1 {
    color: white;
    text-shadow: 2px 2px black;
    text-align: left;
    font-family: verdana;
}
h2 {
    color: white;
    text-shadow: 1px 1px black;
    text-align: left;
    text-decoration:
    font-family: verdana;
}
