body {
    background: #0066ff;
    text-align: center;
    font-family: verdana;
}

h1 {
    color: white;
    text-shadow: 2px 2px black;
    text-align: left;
    font-family: verdana;
}
h2 {
    color: white;
    text-shadow: 1px 1px black;
    text-align: left;
    text-decoration:
    font-family: verdana;
}
div{
  background-color: white;
}
