html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="./style.css")
  body
    h1 Coventry University ECS
    h2 Student and Staff Login
    h4 Please log in to your account below.
  form
  label Username: 
  input(
    type="text", name="username"
  )
  br
  form
  label Password: 
  input(
    type="password", name="password"
  )
