html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="./style.css")
  
body
    h1 Coventry University ECS
    h2 Student Homepage
    p Your modules and assignments are below.
    a(name="Home" href="./studenthome.pug")
    a(name= "My Modules" href="./studentmodules.pug")
    a(name="My Assignments" href="./studentassignments.pug")
    a(name="My Submissions" href="./studentsubmissions.pug")
    
div My Modules
  ul
    li 340CT - Software Quality and Process Management
    li 380CT - Theoretical Aspects of Computer Science
    li 303COM - Individual Project
    li 370CT - Concurrent and Real-time Systems Design
    li 310CT - Intelligent Agents
div My Assignments
  ul
    li Coursework 1
    li Coursework 2
    li Coursework 3
